!.idea/*.iml
!.idea/.gitignore
!.idea/codeStyles/
!.idea/externalDependencies.xml
!.idea/inspectionProfiles/
!.idea/jsLibraryMappings.xml
!.idea/jsLinters/
!.idea/modules.xml
!.idea/vcs.xml
!.idea/webResources.xml
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.pem
*.tsbuildinfo
.DS_Store
.cache/
.dev.vars
.docusaurus
.dynamodb/
.env
.env*
.env*.local
.env.development.local
.env.production.local
.env.test.local
.eslintcache
.fusebox/
.idea
.idea/*
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/deployment.xml
.idea/dictionaries/
.idea/httpRequests/
.idea/shelf/
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/workspace.xml
.jshintrc
.lock-wscript
.next/
.node_repl_history
.npm
.npmrc
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.pnp.\*
.pnp.js
.pnpm-debug.log*
.serverless/
.stylelintcache
.temp
.tern-port
.vercel
.vscode-test
.vscode/*
.vuepress/dist
.wrangler/
.yarn-integrity
.yarn/build-state.yml
.yarn/install-state.gz
.yarn/unplugged
.yarnrc.yml
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
Thumbs.db
\*.lcov
\*.pid.lock
\*.tgz
\*.tsbuildinfo
_.log
_.pid
_.seed
build
build/Release
coverage
decks-local/
dist
isolate-*.log
jspm_packages/
lerna-debug.log*
lib-cov
lib/
logs
next-env.d.ts
node_modules
npm-debug.log*
out/
pids
profile_output.txt
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
test/
tsup.config.js
web_modules/
yarn-debug.log*
yarn-error.log*
